*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 180px;
    border: 3px solid brown;
    margin: 90px auto;
}
.box 
{
    width: 100px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid darkred;
}
.box:nth-child(1) 
{
    background-color: blue;
}
.box:nth-child(2) 
{
    background-color: red;
}
.box:nth-child(3)
{
    background-color: red;
}
.box:nth-child(4) 
{
    background-color: blue;
}
